.forms-text__textarea {
  resize: none;
  width: 50vw;
  height: 80vh;
  padding: 10vh;
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: var(--color-dark-gray);
  font-size: 2rem;
  border: 3px solid var(--color-dark-gray);
  border-bottom: 10px solid var(--color-dark-gray);
  border-radius: 25px;

  &:focus {
    box-shadow: 0 0 5px var(--color-dark-gray);
    outline: none;
  }

  &::placeholder {
    font: 400 4rem var(--font-primary);
    color: var(--color-dark-gray);
    text-transform: lowercase;
    text-align: center;
    padding: 2vh 0;
  }

  &:focus::placeholder {
    color: #7fa4ba; 
  }
}

