:root {
    --color-black: #000;
    --color-dark-grey: #2a2a2a;
    --color-grey: #bdc7c8;
    --color-white: #fff;
    --color-blue: #00a6ff;
    
    --font-primary: "League Spartan", sans-serif;
    --font-secundary: "Poppins", sans-serif;
}